body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;
}
.page-container {
  width: 800px;
  margin: 10px auto;
  background: white;
  padding: 35px;
}
.product-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}
.product-list .product-list-item {
  width: 200px;
  padding: 10px 20px;
}
